@tailwind base;
@tailwind components;
@tailwind utilities;

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    margin-bottom: 0 !important;
    line-height: 1.25 !important;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    outline: none;
    @apply ring-2 ring-accent ring-offset-2 ring-offset-white;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
