@tailwind base;
@tailwind components;
@tailwind utilities;

[data-flux-field]:not(ui-radio, ui-checkbox) {
    display: grid;
    gap: 0.5rem;
}

[data-flux-label] {
    margin-bottom: 0 !important;
    line-height: 1.25 !important;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    outline: none;
    outline: 2px solid #FFD54F;
    outline-offset: 2px;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
